.icon {
	font-size: 1em;
	width: 1em;
	height: 1em;
	min-width: 1em;
	min-height: 1em;
	line-height: 2ex;
	display: inline-flex;
	justify-content: center;
	align-items: center;
}

.inline-flex.items-baseline .icon {
	display: block;
	position: relative;
	bottom: -0.125em;
}

.icon svg {
	display: block;
	width: 100%;
	max-width: 100%;
	min-width: 100%;
	height: auto;
	object-fit: contain;
}

.btn-icon {
	height: auto;
	width: auto;
	min-width: 0;
	font-size: 1.25rem;
	min-height: 0;
	line-height: 1;
}

.btn-icon.btn-circle {
	height: auto;
	width: auto;
	min-width: 0;
	font-size: 1.25rem;
	min-height: 0;
	line-height: 1;
}

.btn-icon .icon {
	display: flex;
}

.color.devicon {
	&-bootstrap-plain {
		color: #7129f1;
	}
	&-bitbucket-original {
		color: #2e87fc;
	}
	&-illustrator-plain {
		color: #f59526;
	}
	&-photoshop-plain {
		color: #38a5f4;
	}
	&-xd-plain {
		color: #f565ec;
	}
}

[class^='dev-'],
[class*=' dev-'] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: var(--font-devicons) !important;
	speak: never;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.dev-postcss:before {
	content: '\e900';
	color: #e53935;
}
.dev-figma .path1:before {
	content: '\e901';
	color: rgb(10, 207, 131);
}
.dev-figma .path2:before {
	content: '\e902';
	margin-left: -1em;
	color: rgb(162, 89, 255);
}
.dev-figma .path3:before {
	content: '\e903';
	margin-left: -1em;
	color: rgb(242, 78, 30);
}
.dev-figma .path4:before {
	content: '\e904';
	margin-left: -1em;
	color: rgb(255, 114, 98);
}
.dev-figma .path5:before {
	content: '\e905';
	margin-left: -1em;
	color: rgb(26, 188, 254);
}
.dev-kentico:before {
	content: '\e906';
	color: #f05a22;
}
.dev-shopify:before {
	content: '\e907';
	color: #96be4f;
}
.dev-umbraco:before {
	content: '\e908';
	color: #3544b1;
}
