.heroBG {
	background-image: svg-load(subtle-prism.svg);
	background-size: cover;
	background-position: bottom left;
	background-repeat: no-repeat;
}

[data-theme='dark'] {
	.heroBG {
		background-image: svg-load(prism-dark.svg);
	}
}
