@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
	box-sizing: border-box;
}

.icon {
	font-size: 1em;
	width: 1em;
	height: 1em;
	min-width: 1em;
	min-height: 1em;
	line-height: 2ex;
	display: inline-flex;
	justify-content: center;
	align-items: center;
}

.icon svg {
	display: block;
	width: 100%;
	max-width: 100%;
	min-width: 100%;
	height: auto;
	object-fit: contain;
}

.btn-icon {
	height: auto;
	width: auto;
	min-width: 0;
	font-size: 1.25rem;
	min-height: 0;
	line-height: 1;
}

.btn-icon.btn-circle {
	height: auto;
	width: auto;
	min-width: 0;
	font-size: 1.25rem;
	min-height: 0;
	line-height: 1;
}

.btn-icon .icon {
	display: flex;
}
.mockup-phone {
	position: relative;
}
.mockup-phone .camera-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 12px;
}
.mockup-phone .camera {
	width: 33%;
	aspect-ratio: 3.5 / 1;
	height: auto;
	border-radius: 9999px;
}

.mockup-phone .display {
	margin-top: 0;
}
.mockup-browser.mobile .mockup-browser-toolbar {
	padding-left: 1.4em;
}

.mockup-browser.mobile .mockup-browser-toolbar .input {
	width: 100% !important;
}

.mockup-browser.mobile .mockup-browser-toolbar {
	margin-top: 12px;
	margin-top: 0.75rem;
	margin-bottom: 12px;
	margin-bottom: 0.75rem;
	display: inline-flex;
	width: 100%;
	align-items: center;
	padding-right: 1.4em;
}

.mockup-browser.mobile .mockup-browser-toolbar::before {
	display: none;
}

.mockup-browser.mobile .mockup-browser-toolbar .input {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	display: block;
	height: 28px;
	height: 1.75rem;
	width: 384px;
	width: 24rem;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	--tw-bg-opacity: 1;
	background-color: hsl(var(--b2) / var(--tw-bg-opacity));
	padding-left: 32px;
	padding-left: 2rem;
	-webkit-overflow-scrolling: touch;
}
