@layer base {
	*,
	*::before,
	*::after {
		box-sizing: border-box;
	}
}

.icon {
	font-size: 1em;
	width: 1em;
	height: 1em;
	min-width: 1em;
	min-height: 1em;
	line-height: 2ex;
	display: inline-flex;
	justify-content: center;
	align-items: center;
}

.icon svg {
	display: block;
	width: 100%;
	max-width: 100%;
	min-width: 100%;
	height: auto;
	object-fit: contain;
}

.btn-icon {
	height: auto;
	width: auto;
	min-width: 0;
	font-size: 1.25rem;
	min-height: 0;
	line-height: 1;
}

.btn-icon.btn-circle {
	height: auto;
	width: auto;
	min-width: 0;
	font-size: 1.25rem;
	min-height: 0;
	line-height: 1;
}

.btn-icon .icon {
	display: flex;
}

.color.devicon {
	&-bootstrap-plain {
		color: #7129f1;
	}
	&-bitbucket-original {
		color: #2e87fc;
	}
}

[data-nimg='fill'] {
	object-fit: cover;
	font-family: 'object-fit: cover;';
}

.timeline-content {
	max-width: calc(90vw - 2.75rem);
}

@media screen(lg) {
	.timeline-content {
		max-width: calc(85vw - 3.25rem - 175px);
	}
}
@media screen(xl) {
	.timeline-content {
		max-width: calc(1170px - 3.25rem - 175px);
	}
}
