:root {
	--container-width: 90vw;
	--page-gutter: calc((100vw - var(--container-width)) * 0.5);
	--section-spacing: clamp(3rem, 1.6059rem + 7.4349vw, 8rem);
	--shadow-color: 220deg 5% 52%;

	@media screen(lg) {
		--container-width: 85vw;
	}
	@media screen(xl) {
		--container-width: 1170px;
	}

	.prose {
		--tw-prose-body: theme(colors.neutral.800);
		--tw-prose-headings: theme(colors.accent.800);
		--tw-prose-lead: theme(colors.neutral.800);
		--tw-prose-links: theme(colors.primary.500);
		--tw-prose-bold: theme(colors.primary.500);
		--tw-prose-counters: theme(colors.primary.600);
		--tw-prose-bullets: theme(colors.secondary.500);
		--tw-prose-hr: theme(colors.neutral.300);
		--tw-prose-quotes: theme(colors.primary.700);
		--tw-prose-quote-borders: theme(colors.secondary.500);
		--tw-prose-captions: theme(colors.neutral.700);
		--tw-prose-code: theme(colors.primary.400);
		--tw-prose-pre-code: theme(colors.neutral.100);
		--tw-prose-pre-bg: theme(colors.neutral.800);
		--tw-prose-th-borders: theme(colors.neutral.300);
		--tw-prose-td-borders: theme(colors.neutral.200);

		--tw-prose-invert-body: theme(colors.neutral.200);
		--tw-prose-invert-headings: theme(colors.white);
		--tw-prose-invert-lead: theme(colors.neutral.300);
		--tw-prose-invert-links: theme(colors.primary.400);
		--tw-prose-invert-bold: theme(colors.white);
		--tw-prose-invert-counters: theme(colors.primary.400);
		--tw-prose-invert-bullets: theme(colors.secondary.600);
		--tw-prose-invert-hr: theme(colors.neutral.700);
		--tw-prose-invert-quotes: theme(colors.primary.100);
		--tw-prose-invert-quote-borders: theme(colors.primary.600);
		--tw-prose-invert-captions: theme(colors.neutral.400);
		--tw-prose-invert-code: theme(colors.white);
		--tw-prose-invert-pre-code: theme(colors.neutral.300);
		--tw-prose-invert-pre-bg: theme(colors.neutral.950);
		--tw-prose-invert-th-borders: theme(colors.neutral.600);
		--tw-prose-invert-td-borders: theme(colors.neutral.700);
	}
}

[data-theme='dark'] {
	--shadow-color: 217deg 25% 14%;

	.bg-base-200 {
		--shadow-color: 215deg 42% 6%;
	}
}

@layer base {
	*,
	*::before,
	*::after {
		box-sizing: border-box;
	}
	h1 {
		@apply font-display;
	}
	h2 {
		@apply font-display;
	}
	h3 {
		@apply font-display;
	}
	h4 {
		@apply font-display;
	}

	.container {
		max-width: var(--container-width);
	}
}

@layer components {
	.mockup-code {
		padding-top: clamp(0.9375rem, 0.7481rem + 0.947vw, 1.5625rem);
		padding-bottom: clamp(0.9375rem, 0.7481rem + 0.947vw, 1.5625rem);

		pre {
			padding-right: clamp(0.9375rem, 0.7481rem + 0.947vw, 1.5625rem);
			line-height: 1;
			&[data-prefix]:before {
				width: 1ch;
				margin-left: clamp(0.9375rem, 0.7481rem + 0.947vw, 1.5625rem);
				margin-right: clamp(0.9375rem, 0.7481rem + 0.947vw, 1.5625rem);
			}
		}

		.buttons {
			padding-left: clamp(0.9375rem, 0.7481rem + 0.947vw, 1.5625rem);
			padding-bottom: clamp(0.9375rem, 0.7481rem + 0.947vw, 1.5625rem);
		}
	}

	.card-normal {
		.card-body {
			padding: clamp(0.9375rem, 0.7481rem + 0.947vw, 1.5625rem);
		}
	}
	.prose
		:where(code):not(:where([class~='not-prose'], [class~='not-prose'] *)) {
		background-color: var(--tw-prose-pre-bg);
	}

	.btn {
		min-height: auto;
		height: auto;
		@apply p-3;
	}
	.btm-nav {
		box-shadow: 0px -0.5px 0.6px hsl(var(--shadow-color) / 0.36),
			0px -0.8px 0.9px -1.1px hsl(var(--shadow-color) / 0.38),
			0px -2.1px 2.4px -2.2px hsl(var(--shadow-color) / 0.41);
	}

	@media screen(lg) {
		.btm-nav {
			box-shadow: none;
		}
	}

	.menu {
		.active {
			background-color: theme(colors.primary.500);
			color: theme(colors.slate.950);
		}
	}
	:where(
			.menu
				li:not(.menu-title):not(.disabled)
				> *:not(ul):not(details):not(.menu-title)
		):not(.active):hover,
	:where(
			.menu
				li:not(.menu-title):not(.disabled)
				> details
				> summary:not(.menu-title)
		):not(.active):hover {
		background-color: theme(colors.primary.500);
		color: theme(colors.slate.950);
	}
	[data-theme='dark'] {
		.menu {
			.active {
				background-color: theme(colors.primary.600);
			}
		}
		:where(
				.menu
					li:not(.menu-title):not(.disabled)
					> *:not(ul):not(details):not(.menu-title)
			):not(.active):hover,
		:where(
				.menu
					li:not(.menu-title):not(.disabled)
					> details
					> summary:not(.menu-title)
			):not(.active):hover {
			background-color: theme(colors.primary.600);
			color: theme(colors.slate.950);
		}
	}
}

[data-nimg='fill'] {
	object-fit: cover;
	font-family: 'object-fit: cover;';
}
