:root {
	--container-width: 90vw;
	--page-gutter: calc((100vw - var(--container-width)) * 0.5);
	@media screen(lg) {
		--container-width: 85vw;
	}
	@media screen(xl) {
		--container-width: 1170px;
	}
}

@layer base {
	*,
	*::before,
	*::after {
		box-sizing: border-box;
	}
	h1 {
		@apply font-display;
	}
	h2 {
		@apply font-display;
	}
	h3 {
		@apply font-display;
	}
	h4 {
		@apply font-display;
	}

	.container {
		max-width: var(--container-width);
	}
}

[data-theme='light'] {
	--pc: 174 75% 11% !important;
}

@layer components {
	.btn {
		min-height: auto;
		height: auto;
		@apply p-3;
	}
}

.icon {
	font-size: 1em;
	width: 1em;
	height: 1em;
	min-width: 1em;
	min-height: 1em;
	line-height: 2ex;
	display: inline-flex;
	justify-content: center;
	align-items: center;
}

.icon svg {
	display: block;
	width: 100%;
	max-width: 100%;
	min-width: 100%;
	height: auto;
	object-fit: contain;
}

.btn-icon {
	height: auto;
	width: auto;
	min-width: 0;
	font-size: 1.25rem;
	min-height: 0;
	line-height: 1;
}

.btn-icon.btn-circle {
	height: auto;
	width: auto;
	min-width: 0;
	font-size: 1.25rem;
	min-height: 0;
	line-height: 1;
}

.btn-icon .icon {
	display: flex;
}

.color.devicon {
	&-bootstrap-plain {
		color: #7129f1;
	}
	&-bitbucket-original {
		color: #2e87fc;
	}
	&-illustrator-plain {
		color: #f59526;
	}
	&-photoshop-plain {
		color: #38a5f4;
	}
	&-xd-plain {
		color: #f565ec;
	}
}

[data-nimg='fill'] {
	object-fit: cover;
	font-family: 'object-fit: cover;';
}

/* .timeline-content {
	max-width: calc(90vw - 2.75rem);
}

@media screen(lg) {
	.timeline-content {
		max-width: calc(85vw - 3.25rem - 175px);
	}
}
@media screen(xl) {
	.timeline-content {
		max-width: calc(1170px - 3.25rem - 175px);
	}
} */

.inline-flex.items-baseline .icon {
	display: block;
	position: relative;
	bottom: -0.125em;
}
