/*  Comment */
.hljs-meta,
.hljs-comment {
	color: theme(colors.slate.400);
}

/* Red */
/*INFO: This keyword, HTML elements, Regex group symbol, CSS units, Terminal Red */
.hljs-tag,
.hljs-doctag,
.hljs-selector-id,
.hljs-selector-class,
.hljs-regexp,
.hljs-template-tag,
.hljs-selector-pseudo,
.hljs-selector-attr,
.hljs-variable.language_,
.hljs-name,
.hljs-deletion {
	color: theme(colors.primary.400);
}

/*Orange */
/*INFO: Number and Boolean constants, Language support constants */
.hljs-variable,
.hljs-template-variable,
.hljs-number,
.hljs-literal,
.hljs-type,
.hljs-params,
.hljs-link {
	color: theme(colors.primary.400);
}

/*  Yellow */
/* INFO:  	Function parameters, Regex character sets, Terminal Yellow */
.hljs-built_in,
.hljs-attribute {
	color: theme(colors.warning.400);
}
/* cyan */
/* INFO: Language support functions, CSS HTML elements */
.hljs-selector-tag {
	color: theme(colors.primary.400);
}

/* light blue */
/* INFO: Object properties, Regex quantifiers and flags, Markdown headings, Terminal Cyan, Markdown code, Import/export keywords */
.hljs-keyword,
.hljs-title.function_,
.hljs-title,
.hljs-title.class_,
.hljs-title.class_.inherited__,
.hljs-subst,
.hljs-property {
	color: theme(colors.warning.400);
}

/*Green*/
/* INFO: Object literal keys, Markdown links, Terminal Green */
.hljs-selector-tag {
	color: theme(colors.accent.400);
}

/*Green(er) */
/* INFO: Strings, CSS class names */
.hljs-quote,
.hljs-string,
.hljs-symbol,
.hljs-bullet,
.hljs-addition {
	color: theme(colors.warning.400);
}

/* Blue */
/* INFO:  	Function names, CSS property names, Terminal Blue */
.hljs-code,
.hljs-formula,
.hljs-section {
	color: #7aa2f7;
}

/* Magenta */
/*INFO: Control Keywords, Storage Types, Regex symbols and operators, HTML Attributes, Terminal Magenta */

.hljs-keyword,
.hljs-operator,
.hljs-keyword,
.hljs-char.escape_,
.hljs-attr {
	color: theme(colors.success.400);
}

/* white*/
/* INFO: Variables, Class names, Terminal White */
.hljs-punctuation {
	color: theme(colors.slate.200);
}

/* .hljs {
	background: theme(colors.slate.800);
	color: theme(colors.slate.200);
} */

.hljs-emphasis {
	font-style: italic;
}

.hljs-strong {
	font-weight: bold;
}
