/* override styles when printing */
@media print {
	@page {
		size: auto; /* auto is the initial value */

		/* this affects the margin in the printer settings */
		margin: 12.7mm 12.7mm 12.7mm 12.7mm;
	}

	html {
		background-color: #fff !important;
	}
	body {
		margin: 0;
		color: #000;
		background-color: #fff !important;
	}

	.container {
		max-width: 7.5in;
	}

	.page {
		break-before: always;
		break-after: always;

		max-width: 8.5in;
		min-height: 11in;
		border: solid 1px #000;
	}
	.page-break {
		page-break-before: always;
		margin-bottom: 1in;
	}

	.prose-sm {
		font-size: 12pt;
		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			margin-top: 0;
		}
	}
	abbr {
		text-decoration: none;
	}

	.projects.list {
		.card-body {
			font-size: 12pt;
			gap: 0;
		}
		h3.card-title {
			font-size: 12pt;
			margin-bottom: 0;
		}
	}

	.prose li {
		page-break-inside: avoid;
	}

	/* .timeline-item {
		page-break-inside: avoid;
		break-before: always;
		/* min-height: 3.25in;
	} */

	/* .job-rev77,
	.job-blufish-design,
	.job-joybyte,
	.job-asu-decision-theater-network {
		margin-top: 1in;
	} */
}

.print {
	--container-width: 7.5in !important;
	--section-spacing: 0.25in;
	.project-wp-readme {
		display: none;
	}
}
