@import url('https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css');

.icon {
	font-size: 1em;
	width: 1em;
	height: 1em;
	min-width: 1em;
	min-height: 1em;
	line-height: 2ex;
	display: inline-flex;
	justify-content: center;
	align-items: center;
}

.inline-flex.items-baseline .icon {
	display: block;
	position: relative;
	bottom: -0.125em;
}

.icon svg {
	display: block;
	width: 100%;
	max-width: 100%;
	min-width: 100%;
	height: auto;
	object-fit: contain;
}

.btn-icon {
	height: auto;
	width: auto;
	min-width: 0;
	font-size: 1.25rem;
	min-height: 0;
	line-height: 1;
}

.btn-icon.btn-circle {
	height: auto;
	width: auto;
	min-width: 0;
	font-size: 1.25rem;
	min-height: 0;
	line-height: 1;
}

.btn-icon .icon {
	display: flex;
}

.colored.devicon {
	&-babel-plain {
		color: #e0be34;
	}
	&-bitbucket-original {
		color: #2e87fc;
	}
	&-bootstrap-plain {
		color: #7129f1;
	}
	&-composer-line {
		color: currentColor;
	}
	&-illustrator-plain {
		color: #f59526;
	}
	&-photoshop-plain {
		color: #38a5f4;
	}
	&-xd-plain {
		color: #f565ec;
	}
	&-github-original {
		color: currentColor;
	}
	&-javascript-plain {
		color: #d9bd41;
	}
	&-nextjs-original {
		color: currentColor;
	}
	&-wordpress-plain {
		color: currentColor;
	}
}

[data-theme='dark'] {
	.colored.devicon {
		&-babel-plain {
			color: #f9dc3e;
		}
		&-bootstrap-plain {
			color: #ab68f7;
		}
		&-csharp-plain {
			color: #9550a3;
		}
		&-javascript-plain {
			color: #f0db4f;
		}
	}
}

[class^='dev-'],
[class*=' dev-'] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: var(--font-devicons) !important;
	speak: never;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 2ex;
	min-width: 1em;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.colored.dev {
	&-umbraco {
		color: #3544b1;
	}
	&-contentful {
		&:before {
			content: '' !important;
			display: block;
			padding-bottom: 100%;
			background-image: svg-load('icons/dev/contentful.svg');
			background-repeat: no-repeat;
			background-size: contain;
		}
	}
	&-figma {
		&:before {
			content: '' !important;
			display: block;
			padding-bottom: 100%;
			background-image: svg-load('icons/dev/figma.svg');
			background-repeat: no-repeat;
			background-size: contain;
		}
	}
	&-kentico {
		color: #f05a22;
	}
	&-postcss {
		color: #e53935;
	}
	&-liquid {
		color: #0e83cc;
	}
	&-shopify {
		color: #96be4f;
	}
	&-sketch {
		&:before {
			content: '' !important;
			display: block;
			padding-bottom: 100%;
			background-image: svg-load('icons/dev/sketch.svg');
			background-repeat: no-repeat;
			background-size: contain;
		}
	}
	&-umbraco {
		color: #3544b1;
	}
}
.dev-contentful:before {
	content: '\e900';
}
.dev-figma:before {
	content: '\e907';
}
.dev-kentico:before {
	content: '\e90d';
}
.dev-liquid:before {
	content: '\e911';
}
.dev-shopify:before {
	content: '\e913';
}
.dev-sketch:before {
	content: '\e915';
}
.dev-umbraco:before {
	content: '\e91d';
}
.dev-postcss:before {
	content: '\e90e';
}
