.heroBG {
	background-image: svg-load(subtle-bg-light.svg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

[data-theme='dark'] {
	.heroBG {
		background-image: svg-load(subtle-bg-dark.svg);
	}
}
@media (min-width: 576px) {
	.heroText {
		padding-right: calc(34vw - var(--page-gutter));
	}
}

@media (min-width: 768px) {
	.heroTitle,
	.heroText {
		padding-right: calc(42.8385416667vw - var(--page-gutter) + 1.5rem);
	}
}

@media (min-width: 1024px) {
	.heroTitle,
	.heroText {
		padding-right: calc(42.8385416667vw - var(--page-gutter) + 3rem);
	}
}

@media (min-width: 1376px) {
	.heroTitle,
	.heroText {
		padding-right: calc(53.4027777778vw - var(--page-gutter) + 2rem);
	}
}

.profileMask {
	mask-image: svg-load('frame-mask.svg');
	/* mask-size: cover; */
}

.ctaBg {
	position: relative;
	&::before {
		content: '';
		display: block;
		position: absolute;
		inset: 0;
		z-index: 1;
		mix-blend-mode: overlay;
		background: radial-gradient(
			circle,
			rgba(255, 255, 255, 0.75) 0%,
			rgba(255, 255, 255, 0) 40%
		);
	}
	&::after {
		content: '';
		display: block;
		position: absolute;
		inset: 0;
		width: 100%;
		height: 100%;
		z-index: 2;
		background-image: svg-load(cta-light.svg);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center top;
	}
	> .container {
		position: relative;
		z-index: 3;
	}
}

/* @media (min-width: 576px) {
	.ctaBg {
		&::after {
			background-position: 80% top;
		}
	}
} */

[data-theme='dark'] {
	.ctaBg {
		&::after {
			background-image: svg-load(cta-dark.svg);
		}
	}
}
