.heroBG {
	background-image: svg-load(subtle-bg-light.svg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

[data-theme='dark'] {
	.heroBG {
		background-image: svg-load(subtle-bg-dark.svg);
	}
}
@media (min-width: 576px) {
	.heroText {
		padding-right: calc(34vw - var(--page-gutter));
	}
}

@media (min-width: 768px) {
	.heroTitle,
	.heroText {
		padding-right: calc(42.8385416667vw - var(--page-gutter) + 1.5rem);
	}
}

@media (min-width: 1024px) {
	.heroTitle,
	.heroText {
		padding-right: calc(42.8385416667vw - var(--page-gutter) + 3rem);
	}
}

@media (min-width: 1376px) {
	.heroTitle,
	.heroText {
		padding-right: calc(53.4027777778vw - var(--page-gutter) + 2rem);
	}
}

.profileMask {
	mask-image: svg-load('frame-mask.svg');
	/* mask-size: cover; */
}
